<p>Witaj w aplikacji</p>


<h3 [className]="colorClass"> Testowanie bindowania ;- property binding</h3>

<img [src]="logoUrl">

<label>
    <input [maxLength]="maxLarge" [value]="inputText">
</label>

<button [disabled]="isDisable" (click)="change()">Dodaj</button>

<br><br>
<input [disabled]="isDisable" (focus)="onFocus()">
<br>
<input [disabled]="isDisable" (mousemove)="onMouseMove($event)">
<br>
<input [disabled]="isDisable" (focus)="onClick($event)">
<br>
<input [disabled]="isDisable" (paste)="onPaste()"> {{inputText}}
<br>
<button (click)="change2()">zmiana</button>
