App component
<table>
    <!-- pierwszy wiersz-->
    <tr>
        <td colspan="2">
            <app-witaj></app-witaj> <br>
            {{dog.name | uppercase}} <br>
            {{showDog()}} <br>
            {{date | date: 'dd-MM-RR'}}
        </td>
    </tr>
    <!-- drugi wiersz-->
    <tr>
        <td>
            <app-menu></app-menu> <br>
            {{title}}
        </td>
        <td>
            <app-prawy></app-prawy>
        </td>
    </tr>
    <!-- trzeci wiersz-->
    <tr>
        <td>
            <app-data></app-data>
        </td>
    </tr>
</table>
