App component
<table>
    <!-- pierwszy wiersz-->
    <tr>
        <td colspan="2">
            <app-witaj></app-witaj> <br>
            {{dog.name | uppercase}} <br>
            {{showDog()}} <br>
            {{date | date: 'dd-MM-yy'}}
        </td>
    </tr>
    <!-- drugi wiersz-->
    <tr>
        <td>
            <app-menu></app-menu> <br>
            {{title}}
        </td>
        <td>
            <app-prawy></app-prawy>
        </td>
    </tr>
    <!-- trzeci wiersz-->
    <tr>
        <td>
            <app-data></app-data>
        </td>
    </tr>
</table>
<ul *ngFor="let day of days">
<li >
    {{day}}
</li>
</ul>

<ul *ngFor="let dog of dogs; let e = even">
    <li *ngIf="e">
        {{dog.age}}
    </li>
</ul>
<ul *ngFor="let dog of dogs">
    <li *ngIf="dog.age >2">
        {{dog.age}}
    </li>
</ul>

<div *ngIf="dogs.length > 4; then areDogs; else noDogs"></div>

<ng-template #areDogs>
    <div *ngFor="let dog of dogs">
       Pise ma na imię {{dog.name}}.
    </div>
</ng-template>

<ng-template #noDogs>
    <p>Nie ma piesków</p>
</ng-template>
